/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-Mar-2016, 3:34:45 AM
    Author     : brandon
*/

.main
{
    border:none;   
    width: 90px;
    background-color: #585858;
}